<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="contenido-login">
        <mat-card-header class="login-title">
          <mat-card-title>Registrate!</mat-card-title>
        </mat-card-header>
        <div class="row margen-input">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>e-mail</mat-label>
              <input matInput placeholder="e-mail" type="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row margen-texto-input">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>contraseña</mat-label>
              <input matInput placeholder="contraseña" type="password" />
            </mat-form-field>
          </div>
        </div>
        <div class="row margen-texto-input">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>repetir contraseña</mat-label>
              <input
                matInput
                placeholder="repetir contraseña"
                type="password"
              />
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
          <div class="row">
            <div class="col">
              <button mat-button [routerLink]="['/login']">VOLVER</button>
            </div>
            <div class="col">
              <button mat-raised-button color="primary" class="float-right">
                Registrate!
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
